<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="omnibot">

    <xacro:include filename="$(find omnibot_description)/urdf/omnibot_gazebo.xacro"/>
    <xacro:include filename="$(find omnibot_description)/urdf/omnibot_ros2_control.xacro"/>

    <link name="base_footprint"/>

    <link name="base_link">
        <inertial>
            <origin xyz="0 0 0.04" rpy="0.0 0.25 0.3"/>
            <mass value="8.2573504e-01"/>
            <inertia ixx="2.2124416e-02" ixy="-1.2294101e-04" ixz="3.4938785e-04" iyy="2.1193702e-02" iyz="-5.0120904e-05" izz="2.0064271e-02"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://omnibot_description/meshes/omni_bot_base.stl"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://omnibot_description/meshes/omni_bot_base.stl"/>
            </geometry>
        </collision>
    </link>

    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin rpy="0 0 0" xyz="0 0 0.03"/>
    </joint>

    <xacro:include filename="$(find omnibot_description)/urdf/wheel.xacro"/>

    <xacro:wheel id="1" yaw="0" x="0" y="0.0955"/>
    <xacro:wheel id="2" yaw="2.085" x="-0.0828" y="-0.0475"/>
    <xacro:wheel id="3" yaw="-2.085" x="0.0828" y="-0.048"/>

</robot>
