<?xml version="1.0"?>

<robot name="omnibot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="transmission" params="id">
        <transmission name="wheel_${id}_transmission">
            <plugin>transmission_interface/SimpleTransmission</plugin>
            <actuator name="wheel_${id}_motor" role="actuator_${id}"/>
            <joint name="wheel_${id}_joint" role="joint_${id}">
                <mechanical_reduction>1.0</mechanical_reduction>
            </joint>
        </transmission>
    </xacro:macro>

    <xacro:transmission id="1"/>
    <xacro:transmission id="2"/>
    <xacro:transmission id="3"/>

    <xacro:macro name="roller_link_values" params="wheel_id id">
        <gazebo reference="roller_${wheel_id}_${id}_link">
            <mu1>100000000000000.0</mu1>
            <mu2>100000000000000.0</mu2>
            <kp>10000000000000.0</kp>
            <kd>10.0</kd>
            <minDepth>0.001</minDepth>
            <maxVel>0.1</maxVel>
            <fdir1>1 0 0</fdir1>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="wheel_link_values" params="id">
        <gazebo reference="wheel_${id}_link">
            <mu1>100000000000000.0</mu1>
            <mu2>100000000000000.0</mu2>
            <kp>10000000000000.0</kp>
            <kd>10.0</kd>
            <minDepth>0.001</minDepth>
            <maxVel>0.1</maxVel>
            <fdir1>1 0 0</fdir1>
        </gazebo>

        <xacro:roller_link_values id="1" wheel_id="${id}"/>
        <xacro:roller_link_values id="2" wheel_id="${id}"/>
        <xacro:roller_link_values id="3" wheel_id="${id}"/>
        <xacro:roller_link_values id="4" wheel_id="${id}"/>
        <xacro:roller_link_values id="5" wheel_id="${id}"/>
        <xacro:roller_link_values id="6" wheel_id="${id}"/>
        <xacro:roller_link_values id="7" wheel_id="${id}"/>
        <xacro:roller_link_values id="8" wheel_id="${id}"/>
        <xacro:roller_link_values id="9" wheel_id="${id}"/>
        <xacro:roller_link_values id="10" wheel_id="${id}"/>
        <xacro:roller_link_values id="11" wheel_id="${id}"/>
        <xacro:roller_link_values id="12" wheel_id="${id}"/>

    </xacro:macro>

    <xacro:wheel_link_values id="1"/>
    <xacro:wheel_link_values id="2"/>
    <xacro:wheel_link_values id="3"/>


    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find omnibot_controller)/config/omnibot_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>
