<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="omnibot">

    <xacro:include filename="$(find omnibot_description)/urdf/wheel.xacro"/>

    <link name="base_footprint"/>

    <link name="base_link">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://omnibot_description/meshes/omni_bot_base.stl"/>
            </geometry>
        </visual>
    </link>

    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin rpy="0 0 0" xyz="0 0 0.03"/>
    </joint>

    <xacro:wheel number="1" pitch="45" x="0" y="0.0955" z="-0.0124"/>

</robot>
